:root{
    --primary-blue: #5D17EB;
    --secondary-blue: #6C63FF;
    --secondary-text-gray: #B0B0B0;
    --primary-bg-gray: #F0F0F0 ;  
    --seconday-bg-gray: #DDDFFF ; 
    --white-bg: #FDFDFD;
    --orange: #FFC423 ;
    --green: #23FF52;    
    --balck: #000000;
    --red: #FF5050;
    --medium-blue: #3F3D56; 

}

.ProfilePreviewContainer{
    background-color: var(--white-bg);
    padding: 10px;
    border-radius: 19px; 
    box-shadow: 0 0 5px  var(--secondary-text-gray);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex: 1;
    transition: .3s all;
}
.ProfilePreviewContainer:hover{
    box-shadow: 0 0 5px var(--secondary-text-gray);
    transform: scale(1.005);
}
.ProfilePreviewContainer .contentArea{
    overflow: hidden;
    background-color: white;
    padding: 30px 40px 30px 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

            /* Chrome, Edge, Safari */
.ProfilePreviewContainer .contentArea::-webkit-scrollbar {
        width: 0px; 
    }

.ProfilePreviewContainer .contentArea::-webkit-scrollbar-track {
        background: transparent; 
    }

.ProfilePreviewContainer .contentArea::-webkit-scrollbar-thumb {
        background-color: transparent; 
        border-radius: 10px;
        border: 2px solid transparent; 
    }

.ProfilePreviewContainer .contentArea .Header{
    padding: 0 0 10px;
    border-bottom: 2px dotted var(--primary-bg-gray);
}
.ProfilePreviewContainer .contentArea .Header h1{
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: bold;
}
.ProfilePreviewContainer .contentArea .Header p{
    font-weight: bold; 
    font-size: 11px;
    color: var(--secondary-text-gray);
}

.ProfilePreviewContainer .contentArea .mainContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    width: 100%;
    height: 100%;
    padding: 10px 0 0;
    
    gap: 20px;
}
.ProfilePreviewContainer .contentArea .mainContent .privacyHolder{
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-gray);
    border-radius: 19px;
    padding: 20px 20px;
    
}   
.ProfilePreviewContainer .contentArea .mainContent .privacyHolder .pvCard{
    background-color: var(--seconday-bg-gray);
    padding: 10px;
    border-radius: 4px;

    max-width: 400px;
    margin:10px auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content:  space-between;
    align-items: center;
}
.ProfilePreviewContainer .contentArea .mainContent .privacyHolder .pvCard .pvCardtext h3{
    font-size: 13px;
    font-weight: bold;
    color: var(--medium-blue)
}
.ProfilePreviewContainer .contentArea .mainContent .privacyHolder .pvCard .pvCardtext p{
    font-size: 11px ;
    font-weight: 400;
    color: var(--medium-blue)
}


.ProfilePreviewContainer .contentArea .mainContent .privacyHolder .pvCard .toggleButton{
    width: 35px;
    height: 20px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    padding: 0 2px;
    background-color: var(--primary-bg-gray);
    cursor: pointer;
    transition:alld .3s ;
}
.ProfilePreviewContainer .contentArea .mainContent .privacyHolder .pvCard .toggleButton:hover{
    transform: scale(1.1);
}

.ProfilePreviewContainer .contentArea .mainContent .privacyHolder .pvCard .toggleButton .circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--white-bg);
}



.submitButton{
    background-color: var(--primary-blue);
    color: var(--white-bg);
    padding: 5px 20px ;
    border-radius: 9px ;
    margin:0px auto; 
    cursor: pointer;
    transition: .3s all ; 
}

.submitButton:hover{
    transform: scale(1.05);
    background-color: var(--secondary-blue)
}   