.conversationNav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--primary-bg-gray);
    border-radius: 19px;
    flex-grow: 1;
  }
 .conversationNav .left{
    display: flex;
    align-items: center;
  }
.conversationNav .left img{
    width: 40px ;
    height: 40px ;
    border-radius: 50% ;
    object-fit: cover;
    cursor: pointer;
  }
.conversationNav .left .text{
    padding-left: 10px;
    height: 100% ; 
    display: flex;
    flex-direction: column;
  }
.conversationNav .left .text .name{
    color: var(--primary-blue);
    font-size: 16px;
    font-weight: bold;
  } 
.conversationNav .left .text .email{
    color: var(--secondary-text-gray);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
  }