:root{
    --primary-blue: #5D17EB;
    --secondary-blue: #6C63FF;
    --secondary-text-gray: #B0B0B0;
    --primary-bg-gray: #F0F0F0 ;  
    --seconday-bg-gray: #DDDFFF ; 
    --white-bg: #FDFDFD;
    --orange: #FFC423 ;
    --green: #23FF52;    
    --balck: #000000;
    --red: #FF5050;
}

.holder{
    background-color: var(--seconday-bg-gray);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.loginLayout{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-bg);
    padding: 20px;
    border-radius: 19px;
    box-shadow: 0 0 15px  var(--secondary-text-gray);

}
.loginLayout .formSide{
    flex: 2 0 50%;
    max-width: 400px;
}
.loginLayout .formSide form{
    width: 100%;
}
 .logo{
    margin: auto auto 30px ; 
    display: block;
    width: 70%;

}


/* global */
.formButton{
    background-color: var(--secondary-blue);
    text-align: center;
    color: var(--primary-bg-gray);
    padding: 20px 25px;
    border-radius: 13px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease all ;
}
.formButton:hover{
    background-color: var(--primary-blue);
}
.formLink{
    color: var(--secondary-blue);
    font-size: 12px;
    width: 100%;
    display: block;
    padding: 10px 0 ;
    cursor: pointer;
    text-align: center;
}
.formLink:hover{
    color: var(--primary-blue);
}


.formHero {
    display: block;
    width: fit-content;
    max-width: 50%;
}
.formHero div{
    display: block;
    width: fit-content;
    max-width: fit-content;
}

.formHero img{
    width: 80%;
    padding-top: 30px;
}
.formHero h1{
    font-weight: 900;
    font-size: 24px;
    color: var(--secondary-text-gray);
    width: 100%;
    text-align: left;
}
.imageHolder{
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    transition: 0.2s  all ;
    cursor: pointer;
    border: 2px solid var(--primary-blue);
}
.imageHolder:hover{
    border: 4px solid var(--primary-blue);
}
.closer{
    position: absolute;
    right: 0px;
    bottom: 15px;
    background-color: var(--primary-bg-gray);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}
.imageHolder:hover .closer{
    color: var(--primary-blue);
}
.image{
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pfpinput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
}

.formError{
    color: var(--red);
    padding: 10px;
}




/* media quiries */
@media (max-width: 475px) {
    .logo{
            width: 60%;
    }
    .formButton{
        padding: 10px 15px;
    }
    .formLink{
        font-size: 10px;
    }

    .imageHolder{
        width: 100px;
        height: 100px;
    }
    .closer{
        width: 20px;
        height: 20px;
    }

}