   
    .conversationBar {
      display: flex;
      flex-direction: column;
      padding: 5px; 
      width: 230px;
      max-height: 100%;
      height: 100%;
      background-color: var(--white-bg);
      border-radius: 19px;
      overflow: hidden;
      box-shadow: 0px 0px 1px var(--secondary-text-gray);
      transition: 0.1s all ease;
    }
    .conversationBar:hover{
      box-shadow: 0px 0px 2px var(--secondary-text-gray);
      transform: scale(1.01);
    }
        
    .conversationBar .buttonGroup{
        display: flex;
        padding: 5px;
        flex-shrink: 0;
    }
    .conversationBar .buttonGroup .button{
        width: 33.3%;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
        color: var(--secondary-text-gray);
    }
    .conversationBar .buttonGroup .button.selected
        {
        color: var(--primary-blue);
        border-bottom: 1px solid var(--primary-blue);
        }


    .conversationBar .conversations{
        padding: 0 5px;
        max-height: 100%;
        overflow-y: auto;
        flex: 1;
    }
            /* Chrome, Edge, Safari */
    .conversations::-webkit-scrollbar {
        width: 0px; 
    }

    .conversations::-webkit-scrollbar-track {
        background: transparent; 
    }

    .conversations::-webkit-scrollbar-thumb {
        background-color: transparent; 
        border-radius: 10px;
        border: 2px solid transparent; 
    }

     
    /* conversation card */
    .conversationcard{
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-gray);
    padding: 5px 8px;
    margin: 5px 0; 
    border-radius: 19px;
    transition: 0.1s;
    }
    .conversationcard:hover{
    background-color: var(--seconday-bg-gray);
    transform: scale(1.01);
    }
    .conversationcard .pfp {
    position: relative;
    }
    .conversationcard .pfp img{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    object-fit: cover;
    }
    .conversationcard .pfp .badge{
    position: absolute;
    background-color: var(--primary-blue);
    color: var(--white-bg);
    font-size: 8px;
    padding: 0 5px;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    }
    .conversationcard .center {
    padding-left: 8px;
    flex-grow: 1;
    position: relative;
    }
    .conversationcard .center .username{
    font-size: 12px;
    font-weight: bold;
    
    }
    .conversationcard .center .lastmessage{
    font-size: 10px;
    font-weight: 200;
    color: var(--secondary-bg-gray);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    
    }
    .conversationcard .right {
    display: flex;
    align-items: center;
    }
    .conversationcard .right .active{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--green);
    }
    .conversationcard .right .notActive{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--orange);
    }
    .conversationcard .right .read{
    padding-right: 5px;
    color: var(--secondary-text-gray);
    }