:root{
    --primary-blue: #5D17EB;
    --secondary-blue: #6C63FF;
    --secondary-text-gray: #B0B0B0;
    --primary-bg-gray: #F0F0F0 ;  
    --seconday-bg-gray: #DDDFFF ; 
    --white-bg: #FDFDFD;
    --orange: #FFC423 ;
    --green: #23FF52;    
    --balck: #000000;
    --red: #FF5050;
    --medium-blue: #3F3D56; 

}

.ProfilePreviewContainer{
    background-color: var(--white-bg);
    padding: 10px;
    border-radius: 19px; 
    box-shadow: 0 0 5px  var(--secondary-text-gray);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex: 1;
    transition: .3s all;
}
.ProfilePreviewContainer:hover{
    box-shadow: 0 0 5px var(--secondary-text-gray);
    transform: scale(1.005);
}
.ProfilePreviewContainer .contentArea{
    overflow: hidden;
    background-color: white;
    padding: 30px 40px 30px 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

            /* Chrome, Edge, Safari */
.ProfilePreviewContainer .contentArea::-webkit-scrollbar {
        width: 0px; 
    }

.ProfilePreviewContainer .contentArea::-webkit-scrollbar-track {
        background: transparent; 
    }

.ProfilePreviewContainer .contentArea::-webkit-scrollbar-thumb {
        background-color: transparent; 
        border-radius: 10px;
        border: 2px solid transparent; 
    }

.ProfilePreviewContainer .contentArea .Header{
    padding: 0 0 10px;
    border-bottom: 2px dotted var(--primary-bg-gray);
}
.ProfilePreviewContainer .contentArea .Header h1{
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: bold;
}
.ProfilePreviewContainer .contentArea .Header p{
    font-weight: bold; 
    font-size: 11px;
    color: var(--secondary-text-gray);
}

.ProfilePreviewContainer .contentArea .mainContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 0 0;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


            /* Chrome, Edge, Safari */
textarea::-webkit-scrollbar {
        width: 0px; 
    }

textarea::-webkit-scrollbar-track {
        background: transparent; 
    }

textarea::-webkit-scrollbar-thumb {
        background-color: transparent; 
        border-radius: 10px;
        border: 2px solid transparent; 
    }


.ProfilePreviewContainer .contentArea .mainContent .right>h2{
    text-align: center;
    padding: 0 0 20px 0 ;
    font-size: 19px;
    font-weight: 500;
    color: var(--medium-blue);
}


.ProfilePreviewContainer .contentArea .mainContent .right{
    background-color: var(--seconday-bg-gray);
    padding: 20px;
    border-radius: 19px;
    flex: 2 1 250px; /* grow | shrink | basis */
    min-width: 250px; /* don't go smaller than this */
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.ProfilePreviewContainer .contentArea .mainContent .right .sectionContent{
    padding: 10px ;
    height: 100%; 
}
.ProfilePreviewContainer .contentArea .mainContent .right .sectionContent form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ProfilePreviewContainer .contentArea .mainContent .right form div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.ProfilePreviewContainer .contentArea .mainContent .right form div label{
    font-size: 14px;
    color: var(--medium-blue);
    padding: 5px;
}

.ProfilePreviewContainer .contentArea .mainContent .right .sectionContent input ,textarea{
    background-color: var(--white-bg);
    border-radius: 9px;
    padding: 10px 20px;
    min-width: 100%;
    max-width: 100%;
    max-height: 100px;
    font-size: 14px;
}
textarea{
    min-height: 100px;
}
.mainContentHolder{
    display: flex;
    flex-direction: column;

}
.submitButton{
    background-color: var(--primary-blue);
    color: var(--white-bg);
    padding: 5px 20px ;
    border-radius: 9px ;
    margin: 10px auto; 
    cursor: pointer;
    transition: .3s all ; 
}

.submitButton:hover{
    transform: scale(1.05);
    background-color: var(--secondary-blue)
}