:root{
    --primary-blue: #5D17EB;
    --secondary-blue: #6C63FF;
    --secondary-text-gray: #B0B0B0;
    --primary-bg-gray: #F0F0F0 ;  
    --seconday-bg-gray: #DDDFFF ; 
    --white-bg: #FDFDFD;
    --orange: #FFC423 ;
    --green: #23FF52;    
    --balck: #000000;
    --red: #FF5050;
}

.formInputHolder{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Inter", sans-serif;
    padding: 10px 0 0 0;
} 

.formInputHolder label{
    color: var(--secondary-text-gray);
    font-size: 12px ; 
    font-weight: 400;
    padding-left: 09px;
}
.formInputHolder input{
    border: none;
    background-color: var(--primary-bg-gray);
    color: var(--balck);
    font-size: 14px;
    padding: 20px 25px;
    border-radius: 13px;
    font-weight: 700;
}
.formInputHolder input::placeholder{
    font-weight: 400 !important;
    color: var(--secondary-text-gray);
}
.formInputHolder input:focus{
    outline: none;
}


